
<div id="demo2"></div>
<div id="buttons">
	Reparent using:
	<button data-reparent="direct">appendChild</button>
	<button data-reparent="detach">removeChild + appendChild</button>
	<button data-reparent="delay">removeChild + wait + appendChild</button>
</div>

<script>
(function() {
{% include reparent.html %}
	function onReparentClick(e) {
		var reparentType = e.target.getAttribute('data-reparent');
		doReparent(reparent[reparentType]);
	}

	for ( var i = 0; i < buttons.childNodes.length; ++i ) {
		if ( buttons.childNodes[i].getAttribute && buttons.childNodes[i].getAttribute('data-reparent') ) {
			buttons.childNodes[i].addEventListener('click', onReparentClick);
		}
	}
})();
</script>